*{
    font-family: 'Source Sans Pro'
}

p{
    font-family: 'Source Sans Pro';
}

nav a{
    font-family: 'Merriweather';
    color: #FFF;
}

.navbar-fixed-top{
    top: 0;
    border-width: 0 0 1px;
}

#banner{
    background-position: center;
    background-size: cover;
}

#banner h1{
    font-size: 60px
}

.button-start-search{
    background-color: #EFA455;
    padding: 16px 24px;
    border-radius: 8px;
}

.button-search-style {
    background-color: #a0d0ed;
    border: none;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 24px;
}

input[type=file] {
    border: 2px solid #EFA455;
    border-radius: 4px;
    background-color: #fff;
    padding: 8px;
    border-radius: 4px;
    color: black;
    border-color: #EFA455;
    padding: 12px 18px;
}

#result img{
    width: 400px;
    height: 400px
    margin-left: 0
}

.padskuy{
    padding-top: 160px; padding-bottom: 160px
}

.padding-120{
    padding: 80px 0px
}

#our-team h4{
    padding-top: 32px;
    font-weight: bold;
    color: #EFA455;
}

#our-team h6{
    padding: 0px 0px;
}

.brand-margin{
    margin: 8px 32px;
}
.navbar-margin{
    margin-left: 12px;
    margin-right: 12px;
}

footer ul li a{
    padding: 10px 0;
    font-size: 14px;
    color: #FFF;
}

#some-detail a{
    color: #EFA455;
}

.at-footer{
    background-color: #532220; padding-top: 40px; color: #FFF;
}

.navbar{
    background-color: #532220;
}